[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart={{ bin_directory }}/{{ kube_proxy_name }} \
  --config={{ kube_proxy_dir }}/{{ kube_proxy_config_file }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target